<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>API Medis Group Inc</title>
</head>
<body>
<h1>Внимание! Страница только для разработчиков</h1>
<h2><a href="http://antares.nullteam.info">Если вы попали сюда по ошибке, то нажмите на сюда</a></h2>
<h3>Сервисы на сервере:</h3>
<ul>
    <li><a href="/api">Минимальный функционал, управление пользователями</a> </li>
    <li><a href="/chat">Чат пользователей</a> </li>
    <li><a href="/api/push-subscribe">Страница для подписки пользователя на PUSH</a> </li>
</ul>
</body>
</html>
